<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title><%= title %></title>
        <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    	<meta id="viewport" name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
    	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/icon/76.png">
    	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/icon/120.png">
    	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/icon/152.png">
    	<link rel="apple-touch-icon-precomposed" sizes="167x167" href="/images/icon/167.png">
    	<link rel="apple-touch-icon-precomposed" sizes="180x180" href="/images/icon/180.png">
    	<link rel="icon" sizes="192x192" href="/images/icon/192.png">
        <meta name="google-site-verification" content="YR2_CmjnPF7d3gEZsMkQpGVQEDkmwZeL6AQ3U1PRfvs"/>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/jquery.taphold.js"></script>
        <script src="/javascripts/jquery.msgbox.min.js"></script>
        <script src="/javascripts/c.js"></script>
        <script src="/javascripts/m.js"></script>
        <script type="text/javascript" src="/javascripts/bdstatics.js"></script>
    </head>
  <body>